div.welcomeMessage {
    color: rgb(255, 255, 255)
}

.specialtexteffect {
    color: white;
    justify-content: center;
    display: inline-flex;
    padding-top: 100px;
} 

.typewriter {
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    padding-left: 175px;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
  }
  
  @keyframes typing {
    0% {
      width: 0
    }
    75% {
      width: 100%
    }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

body {
    background: url('../images/beautiful-clouds-cloudy-dramatic-209831.jpg') center center no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat, repeat;

}

div.logo {
  text-align: center;
  border-style: solid;
  border-width: auto;
  border-color: #45BBED;
  background-color: #45BBED;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.searchbutton {
   display:flex;
   padding: 50px;
   padding-bottom: 285px;
   justify-content: center; 
}

.easytext {
    font-size: 45px;
    color: white;
    padding-left: 20px;
}


